:root {
  --white: #ffffff;
  --black: #000000;
  --bg: #053046;
  --blue: #249dbc;
  --orange: #fa8501;
  --gray: #d9d9d9;
  --red: #ff0000;
  --dark: #032636;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ===== BODY – ===== */
body {
  background-image: url("../images/banners/nendangnhap.jpg");
  background-size: cover; /* phủ kín màn hình */
  background-position: center; /* căn giữa ảnh */
  background-repeat: no-repeat; /* không lặp */
  background-attachment: fixed; /* đứng yên khi scroll */
  font-family: "Baloo Thambi 2", cursive;
  font-weight: 500;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* ===== HEADER ===== */
header {
  background: var(--dark);
  padding: 16px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-family: "Denk One", sans-serif;
}
.logo {
  font-size: 28px;
  font-weight: 800;
  color: white;
  font-family: "Denk One", sans-serif;
}

.logo span {
  color: #fa8501;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* ===== MAIN ===== */
.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-box {
  background: rgba(5, 48, 70, 0.95);
  width: 340px;
  min-height: 430px;
  border-radius: 18px;
  padding: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  animation: fadeUp 0.8s ease;
  color: #fff;
}
.sub {
  display: flex; /* Hiển thị theo hàng ngang */
  justify-content: space-between; /* 2 phần cách đều 2 bên */
  align-items: center; /* Căn giữa theo chiều dọc */
  margin-top: 10px; /* Khoảng cách trên */
}

.sub p {
  font-size: 13px;
  margin: 0; /* Bỏ margin mặc định của <p> */
  cursor: pointer; /* con trỏ chuột biến thành tay khi hover */
  transition: all 0.3s; /* hiệu ứng mượt khi thay đổi */
}

.sub button {
  padding: 5px 10px;
  cursor: pointer;
  background-color: #fa860100;
  font-family: "Baloo Thambi 2", cursive;
  color: #ffffff;
  border-radius: 25px;
  border: none;
}
.sub p:hover {
  color: #fa8501; /* màu xanh khi hover */
  text-decoration: underline; /* gạch chân khi hover */
}
.sub button:hover {
  color: #fa8501; /* màu xanh khi hover */
  text-decoration: underline; /* gạch chân khi hover */
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ===== TAB ===== */
.tabs {
  display: flex;
  margin-bottom: 18px;
}
.tab {
  flex: 1;
  text-align: center;
  padding: 12px;
  cursor: pointer;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  transition: 0.3s;
  border-bottom: 3px solid transparent;
}
.tab.active {
  color: var(--orange);
  border-color: var(--orange);
}

form {
  display: none;
}
form.active {
  display: block;
}

/* ===== INPUT ===== */
label {
  display: block;
  margin: 12 px 0 6px;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: 2px solid var(--gray);
  outline: none;
  font-family: "Baloo Thambi 2", cursive;
  transition: 0.25s;
}
input:focus {
  border-color: var(--blue);
  box-shadow: 0 0 10px rgba(36, 157, 188, 0.6);
}

/* ===== BUTTON ===== */
.btn {
  margin-top: 20px;
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 30px;
  background: var(--orange);
  color: #fff;
  font-family: "Baloo Thambi 2", cursive;
  font-weight: 800;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 8px 0 #c76400;
}
.btn:hover {
  filter: brightness(1.1);
}
.btn:active {
  transform: translateY(6px);
  box-shadow: 0 2px 0 #c76400;
}

/* ===== FOOTER ===== */
footer {
  background: var(--dark);
  text-align: center;
  padding: 12px;
  font-family: "UTM Times", "Times New Roman", serif;
  font-size: 13px;
  color: #ffffff;
}
