<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Footer Printory</title>
    <link rel="stylesheet" href="../css/font.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link rel="stylesheet" href="footer.css" />
  </head>

    <footer class="footer">
      <div class="top-image">
      <img src="../images/banners/footer.jpg" alt="Printory Banner" />
      <div class="small-box">
        <div class="logo-text">
          <a href="../index.html">PRIN<span>TORY</span></a></div>
        <div class="small-box-bottom">
          <p class="slogan-text">Your story,<span> we print!</span></p>
        </div>
      </div>
    </div>
    <div class="footer-content">
      <div class="footer-header"></div>
      <div class="footer-top">
        <div class="brand-col">
          <div class="footer-logo">
            <a href="../index.html">PRIN<span>TORY</span></a></div>
          <p class="footer-slogan">Your story, <span>we print!</span></p>
          <div class="socials">
            <p>Thông tin liên hệ</p>
            <div class="icon-container">
              <a href="#"
                ><img
                  src="../images/icons/facebook.png"
                  alt="Facebook"
                  width="80"
                  height="80"
              /></a>
              <a href="#"
                ><img
                  src="../images/icons/instagram.png"
                  alt="Instagram"
                  width="80"
                  height="80"
              /></a>
              <a href="#"
                ><img
                  src="../images/icons/thread.png"
                  alt="Threads"
                  width="80"
                  height="80"
              /></a>
              <a href="#"
                ><img
                  src="../images/icons/tiktok.png"
                  alt="TikTok"
                  width="80"
                  height="80"
              /></a>
              <a href="#"
                ><img
                  src="../images/icons/telegram.png"
                  alt="Telegram"
                  width="80"
                  height="80"
              /></a>
            </div>
          </div>
        </div>

        <div class="footer-col">
          <h3>Về PRINTORY</h3>
          <ul>
            <li><a href="../about_us.html">Câu chuyện thương hiệu</a></li>
            <li><a href="../about_us.html">Giá trị cốt lõi</a></li>
            <li><a href="../PrintoryBlog.html">Cộng đồng</a></li>
            <li><a href="../PrintoryBlog.html">Blog</a></li>
          </ul>
        </div>

        <div class="footer-col">
          <h3>Đặt hàng & hỗ trợ</h3>
          <ul>
            <li><a href="../support.html">Hỏi đáp</a></li>
            <li><a href="../support.html">Hướng dẫn mua hàng</a></li>
            <li><a href="../support.html">Chính sách khách hàng</a></li>
            <li><a href="../support.html">Điều khoản bảo mật</a></li>
            <li><a href="../support.html">Liên hệ với chúng tôi</a></li>
          </ul>
        </div>
      </div>
      </div>

      <!-- COPYRIGHT SECTION: Nền đậm dưới cùng -->
      <div class="copyright-section">
        <div class="copyright-text">BẢN QUYỀN THUỘC VỀ PRINTORY ©</div>
      </div>
    </footer>
  </body>
</html>
